/** @format */
/*======================================= 
        profile edit scss 
=========================================*/

.profile-edit,
.profile {
  &__content {
    border-radius: 20px;
    &-title {
      height: 60px;
      border-top-right-radius: 20px;
      border-top-left-radius: 20px;
      i {
        width: 30px;
        height: 30px;
        line-height: 28px;
      }
    }

    .password-modifi {
      max-width: 350px;
      .form-control {
        height: 40px;
        border: solid 1px $gray-color-25 !important;
      }
    }
  }
  &__setting {
    &-info {
      .profile-img {
        a {
          height: 25px;
          width: 25px;
        }
      }
    }
  }
  &__availability {
    .table {
      --bs-table-bg: none;
      th,
      td {
        height: 30px;
        vertical-align: middle;
        // width: 13%;
      }
      tbody {
        .available {
          height: 30px;
          width: 13%;
          cursor: pointer;
          &.selected {
            background-color: $primary-color;
          }
        }
      }
    }
  }
}
