/**
 * ==========================================================================
 *      BODY / ELEMENT
 *    ==========================================================================
 *
 * @format
 */
body {
  color: $dark !important;
  font-size: 1rem;
  background: $tertiary;
  font-family: $font-primary;
}
