/** @format */
/** @format */
/* ==========================================================================
   COLORS / SETTINGS
   ========================================================================== */
.bg-white-2 {
  background-color: #efefef !important;
}

.bg-white-3 {
  background-color: #f4f4f4 !important;
}

.text-primary {
  color: #8768ae !important;
}

.bg-primary {
  background-color: #8768ae !important;
}

.text-secondary {
  color: #ffaa87 !important;
}

.bg-secondary {
  background-color: #ffaa87 !important;
}

.bg-tertiary {
  background-color: #fadfd3 !important;
}

.text-dark {
  color: #323232 !important;
}

.text-gray {
  color: #afafaf;
}

/** @format */
@media (min-width: 1300px) and (max-width: 1470px) {
  .profile__content-calendrier .calendrier-table .table .table-tbody {
    width: 35% !important;
  }
}
@media (min-width: 1475px) and (max-width: 1600px) {
  .profile__content-calendrier .calendrier-table .table .table-tbody {
    width: 38% !important;
  }
}
/**
 * ==========================================================================
 *    #GENERIC
 *    ==========================================================================
 *
 * @format
 */
* {
  margin: 0;
  padding: 0;
  outline: 0;
}

a {
  text-decoration: none;
  color: #323232;
}

button {
  background-color: transparent;
  border: none;
  outline: none;
}

li {
  list-style-type: none;
}

label {
  cursor: pointer;
}

.form-control {
  outline: none;
  border: none;
}
.form-control:focus,
.form-control :active,
.form-control :hover,
.form-control :focus-within,
.form-control :focus-visible,
.form-control :visited {
  color: none !important;
  border: none !important;
  outline: none !important;
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
  background-color: none !important;
}

@media (min-width: 1200px) {
  .container,
  .container-lg,
  .container-md,
  .container-sm,
  .container-xl,
  .container-xxl {
    max-width: 1650px;
  }
}
@media (min-width: 1200px) {
  .container-fluid {
    max-width: 1780px;
  }
}
/**
 * ==========================================================================
 *      BODY / ELEMENT
 *    ==========================================================================
 *
 * @format
 */
body {
  color: #323232 !important;
  font-size: 1rem;
  background: #fadfd3;
  font-family: "Montserrat", sans-serif;
}

/**
 * ==========================================================================
 *    HEADINGS / ELEMENT
 *    ==========================================================================
 *
 * @format
 */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  margin: 0;
}

h3 {
  font-size: 1.75rem;
}

h4 {
  font-size: 1.125rem;
}
@media (max-width: 767.98px) {
  h4 {
    font-size: 1rem;
  }
}

h5 {
  font-size: 1rem;
}

h6 {
  font-size: 0.875rem;
}
@media (max-width: 767.98px) {
  h6 {
    font-size: 0.6875rem;
  }
}

/**
 * ==========================================================================
 *    #BUTTONS
 *    ==========================================================================
 *
 * @format
 */
/* Style variants
   ========================================================================== */
.c-btn-primary {
  border: none;
  height: 40px;
  padding-left: 40px;
  padding-right: 40px;
  border-radius: 6px;
  font-weight: bold;
  vertical-align: middle !important;
  color: #ffaa87;
  font-size: 1.25rem;
  background-color: #8768ae !important;
}
.c-btn-primary:active, .c-btn-primary:hover, .c-btn-primary:active, .c-btn-primary:focus {
  border: none;
  color: #ffffff !important;
  text-decoration: none;
  background-color: rgba(135, 104, 174, 0.9) !important;
}

.c-btn-secondary {
  background-color: #2f4054;
}
.c-btn-secondary, .c-btn-secondary:hover, .c-btn-secondary:active, .c-btn-secondary:focus {
  text-decoration: none;
  color: #fff;
}
.c-btn-secondary:hover, .c-btn-secondary:focus {
  background-color: #1d2733;
}

.c-btn-tertiary {
  background-color: #fff;
  color: #4a8ec2;
}
.c-btn-tertiary, .c-btn-tertiary:hover, .c-btn-tertiary:active, .c-btn-tertiary:focus {
  text-decoration: none;
  color: #4a8ec2;
}
.c-btn-tertiary:hover, .c-btn-tertiary:focus {
  color: #3774a2;
}

/** @format */
/* ==========================================================================
   Home / pages
   ========================================================================== */
/** @format */
.navbar .navbar-nav .nav-item .badge {
  top: 5px !important;
  border: 1px solid #323232;
}
.navbar .navbar-nav .nav-item .nav-link {
  color: #323232;
  font-size: 1.125rem;
}

/**
 * ==========================================================================
 *    LOGIN / pages
 *    ==========================================================================
 *
 * @format
 */
.login__content-input .form-control {
  height: 50px;
  width: 325px;
}
.login__content-checkbox .form-check input[type=checkbox] {
  display: none;
}
.login__content-checkbox .form-check input[type=checkbox] + span {
  display: inline-block;
  position: relative;
}
.login__content-checkbox .form-check input[type=checkbox] + span:before {
  content: "";
  position: absolute;
  top: 50%;
  width: 22px;
  height: 22px;
  left: -35px;
  border-radius: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  border: 1px solid #8768ae;
  background-color: #8768ae;
}
.login__content-checkbox .form-check input[type=checkbox]:checked + span:after {
  content: "";
  position: absolute;
  width: 12px;
  height: 12px;
  background-color: #ffaa87;
  left: -30px;
  top: 50%;
  border-radius: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}
.login__content-checkbox .form-check input[type=radio]:checked + span:after {
  border-radius: 50%;
  -khtml-border-radius: 50%;
}
/** @format */
.profile__setting {
  border-radius: 25px;
  max-width: 480px;
}
.profile__setting-info {
  border-top-right-radius: 25px;
  border-top-left-radius: 25px;
  background: #8768ae;
  background: -webkit-gradient(linear, left top, left bottom, from(#8768ae), color-stop(75%, rgb(179, 128, 160)), to(#ffaa87));
  background: linear-gradient(180deg, #8768ae 0%, rgb(179, 128, 160) 75%, #ffaa87 100%);
}
.profile__setting-info p {
  font-size: 1rem;
}
.profile__setting-info .view-edit-icon {
  top: 20px;
  right: 20px;
}
.profile__setting-info .view-edit-icon a {
  width: 30px;
  height: 30px;
  line-height: 0px;
  padding: 5.5px;
}
.profile__setting-info .view-edit-icon a.view {
  line-height: 20px;
}
.profile__setting-presentation {
  border-radius: 12px;
}
.profile__setting-presentation p {
  line-height: 17px;
  font-size: 13px;
}
.profile__content-randez {
  border-radius: 26px;
}
.profile__content-randez .title {
  height: 60px;
  border-top-left-radius: 26px;
  border-top-right-radius: 26px;
}
.profile__content-randez .title h4 .counter-itmes {
  width: 30px;
  height: 30px;
}
.profile__content-randez .title .big-screen-icon a {
  width: 30px;
  height: 30px;
  line-height: 29px;
  text-align: center;
}
.profile__content-randez .table {
  font-size: 0.875rem;
}
@media (max-width: 767.98px) {
  .profile__content-randez .table {
    font-size: 0.625rem !important;
  }
}
.profile__content-randez .table .valide {
  vertical-align: middle;
}
.profile__content-randez .table .valide span {
  width: 62%;
  text-align: right;
}
.profile__content-randez .table .valide a {
  width: 30px;
  height: 30px;
  line-height: 14px;
}
.profile__content-randez .custom-screen-size {
  right: -35px;
  bottom: -25px;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  width: 80px;
  height: 60px;
}
.profile__content-randez .custom-screen-size span {
  width: 4px;
  height: 4px;
}
.profile__content-randez .custom-screen-size .icon {
  padding-top: 10px;
}
.profile__content-coaching .title {
  background: rgb(255, 182, 152);
  background: linear-gradient(280deg, rgb(255, 182, 152) 0%, rgb(177, 131, 166) 44%, rgb(158, 119, 170) 71%, rgb(135, 104, 174) 100%);
}
.profile__content-coaching .coaching-items .table.table-hover > tbody > tr:active > * {
  background-color: rgba(0, 0, 0, 0.24);
}
.profile__content-coaching .coaching-items .table tbody {
  vertical-align: middle;
}
.profile__content-coaching .coaching-items .coaching-details {
  -webkit-transition: all linear 0.3s !important;
  transition: all linear 0.3s !important;
}
.profile__content-coaching-detailsPopUp {
  top: -50px;
  right: 50px;
  max-width: 425px;
  border-radius: 26px;
  display: none;
  -webkit-transition: all linear 0.3s !important;
  transition: all linear 0.3s !important;
  font-size: 0.875rem;
}
.profile__content-calendrier .title h4 span {
  width: 30px !important;
  height: 30px !important;
  line-height: 20px;
  text-align: center;
}
.profile__content-calendrier .calendrier-summary .arrow {
  position: relative;
}
.profile__content-calendrier .calendrier-summary .arrow::after {
  top: 0;
  left: 50%;
  width: 1px;
  height: 100%;
  content: "";
  position: absolute;
  background-color: rgba(50, 50, 50, 0.3);
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}
.profile__content-calendrier .calendrier-summary .arrow .btn {
  height: 40px;
}
.profile__content-calendrier .calendrier-summary .today {
  height: 40px;
  line-height: 28px;
}
.profile__content-calendrier .calendrier-summary .date-schedule {
  height: 40px;
}
.profile__content-calendrier .calendrier-summary .date-schedule a {
  line-height: 36px;
}
.profile__content-calendrier .calendrier-table .table > :not(caption) > * > * {
  padding: 4px 0.5rem;
}
.profile__content-calendrier .calendrier-table .table > :not(caption) > * > *:hover {
  background-color: #efefef;
}
.profile__content-calendrier .calendrier-table .table .table-tbody {
  display: block;
  overflow: auto;
  white-space: nowrap;
  height: 306px;
  width: 42%;
  /* Track */
  /* Handle */
  /* Handle on hover */
}
.profile__content-calendrier .calendrier-table .table .table-tbody::-webkit-scrollbar {
  width: 14px;
  height: 14px;
}
.profile__content-calendrier .calendrier-table .table .table-tbody::-webkit-scrollbar-track {
  padding: 0;
  z-index: 2;
  position: fixed;
  right: 0;
}
.profile__content-calendrier .calendrier-table .table .table-tbody::-webkit-scrollbar-thumb {
  border-radius: 30px;
  border: 1px solid #afafaf;
  background: rgba(175, 175, 175, 0.25);
}
.profile__content-calendrier .calendrier-table .table .table-tbody::-webkit-scrollbar-thumb:hover {
  background: #afafaf;
}
.profile__content-calendrier .calendrier-table .table .table-tbody tr th {
  width: 90px;
  height: 30px;
  display: inline-block;
  position: sticky;
  top: 0;
  z-index: 2;
}
.profile__content-calendrier .calendrier-table .table .table-tbody tr th[scope=row] {
  position: sticky;
  left: 0;
  z-index: 1;
}
.profile__content-calendrier .calendrier-table .table .table-tbody tr td {
  width: 300px;
  height: 30px;
  display: inline-block;
}
.profile__content-calendrier .calendrier-table .table .table-tbody tr .time-schedule {
  margin-bottom: 1px;
}
.profile__content-calendrier .calendrier-table .table .table-tbody tr .time-schedule .time-schedule-item {
  border-radius: 6px;
}
.profile__content-calendrier .calendrier-table .table .table-tbody tr .time-schedule-line {
  position: relative;
}
.profile__content-calendrier .calendrier-table .table .table-tbody tr .time-schedule-line::after {
  left: 0;
  bottom: -2px;
  content: "";
  width: 100%;
  height: 2px;
  position: absolute;
  background-color: #8768ae;
}
.profile__content-calendrier .calendrier-table .table .table-tbody tr .time-schedule-line::before {
  left: -9px;
  content: "";
  width: 15px;
  bottom: -8px;
  height: 15px;
  border-radius: 50%;
  position: absolute;
  background-color: #8768ae;
}

/** @format */
/*======================================= 
        profile edit scss 
=========================================*/
.profile-edit__content,
.profile__content {
  border-radius: 20px;
}
.profile-edit__content-title,
.profile__content-title {
  height: 60px;
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
}
.profile-edit__content-title i,
.profile__content-title i {
  width: 30px;
  height: 30px;
  line-height: 28px;
}
.profile-edit__content .password-modifi,
.profile__content .password-modifi {
  width: 350px;
}
.profile-edit__content .password-modifi .form-control,
.profile__content .password-modifi .form-control {
  height: 40px;
  border: solid 1px rgba(175, 175, 175, 0.25) !important;
}
.profile-edit__setting-info .profile-img a,
.profile__setting-info .profile-img a {
  height: 25px;
  width: 25px;
}
.profile-edit__availability .table,
.profile__availability .table {
  --bs-table-bg: none;
}
.profile-edit__availability .table th,
.profile-edit__availability .table td,
.profile__availability .table th,
.profile__availability .table td {
  height: 30px;
  vertical-align: middle;
}
.profile-edit__availability .table tbody .available,
.profile__availability .table tbody .available {
  height: 30px;
  width: 13%;
  cursor: pointer;
}
.profile-edit__availability .table tbody .available.selected,
.profile__availability .table tbody .available.selected {
  background-color: #8768ae;
}

/** @format */
.profile__coaching-list {
  overflow-y: auto;
  /* Track */
  /* Handle */
  /* Handle on hover */
}
.profile__coaching-list::-webkit-scrollbar {
  width: 14px;
  height: 14px;
}
.profile__coaching-list::-webkit-scrollbar-track {
  padding: 0;
  z-index: 2;
  right: 0;
}
.profile__coaching-list::-webkit-scrollbar-thumb {
  border-radius: 30px;
  border: 1px solid #afafaf;
  background: rgba(175, 175, 175, 0.25);
}
.profile__coaching-list::-webkit-scrollbar-thumb:hover {
  background: #afafaf;
}
.profile__coaching-list .coaching-item {
  padding-left: 80px;
  padding-right: 80px;
}
@media (max-width: 1399.98px) {
  .profile__coaching-list .coaching-item {
    padding-left: 20px !important;
    padding-right: 20px !important;
  }
}
.profile__coaching-list .coaching-item-content .text-icon a {
  width: 25px;
  height: 25px;
}
.profile__coaching-list .coaching-item-content.border {
  border-color: #efefef !important;
}
.profile__coaching-list .coaching-item.active::after {
  top: 0;
  left: 0;
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: rgba(175, 175, 175, 0.6);
}

/** @format */
.profile__setting-chat {
  background: -webkit-gradient(linear, left bottom, left top, from(#8768ae), color-stop(50%, rgb(179, 128, 160)), to(#ffaa87));
  background: linear-gradient(0deg, #8768ae 0%, rgb(179, 128, 160) 50%, #ffaa87 100%);
}
.profile__chat-terminal {
  font-size: 0.875rem !important;
}
.profile__chat-terminal .coaching-item-content .btn {
  font-size: 0.625rem !important;
}
.profile__chat-table .status-items {
  width: 130px;
}
.profile__chat-table .icon {
  height: 30px;
  width: 30px;
  line-height: 28px;
}
.profile__chat-table .terminal-create .btn {
  font-size: 0.625rem !important;
}
.profile__chat-box {
  border-radius: 25px;
}
.profile__chat-box .title {
  height: 60px;
}
.profile__chat-box .chat-list {
  height: 75%;
  font-size: 0.9375rem;
}
@media (max-width: 991.98px) {
  .profile__chat-box .chat-list {
    height: auto;
  }
}
.profile__chat-box .chat-list .message-content .message-img img {
  width: 45px;
}
.profile__chat-box .chat-list .message-content .message-text p {
  padding: 12px 16px;
  border-radius: 12px;
}
.profile__chat-box .chat-input .form-control {
  padding-right: 40px;
}
.profile__chat-box .chat-input a {
  top: 14px;
  right: 15px;
  width: 30px;
  height: 30px;
  line-height: 30px;
}/*# sourceMappingURL=style.css.map */