/** @format */

/* ==========================================================================
   COLORS / SETTINGS
   ========================================================================== */

$white: #ffffff;
$white-2: #efefef;
$white-3: #f4f4f4;
$dark: #323232;
$tertiary: #fadfd3;
$primary-color: #8768ae;
$secondary-color: #ffaa87;
$gray-color: #afafaf;
// $quaternary;
$gray-color-25: rgba($gray-color, 0.25);
$primary-color-9: rgba($primary-color, 0.9);
$dark-color-3: rgba($dark, 0.3);
$gray-color-6: rgba($gray-color, 0.6);

.bg-white-2 {
  background-color: $white-2 !important;
}
.bg-white-3 {
  background-color: $white-3 !important;
}
.text-primary {
  color: $primary-color !important;
}
.bg-primary {
  background-color: $primary-color !important;
}
.text-secondary {
  color: $secondary-color !important;
}
.bg-secondary {
  background-color: $secondary-color !important;
}
.bg-tertiary {
  background-color: $tertiary !important;
}
.text-dark {
  color: $dark !important;
}
.text-gray {
  color: $gray-color;
}
